<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title><img src="./assets/images/logo.png" height="26" /></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="page-content ion-text-center">
    <img src="./assets/images/success.png" width="145" alt="Success" class="" />
    <h2>Thank you!</h2>
    <p>
      Your request has been successfully submitted. One of our affiliated car
      rental companies will be in touch with you very soon. We appreciate your
      patience and are excited to help you find the perfect rental car. If you
      have any questions or need further assistance, please don't hesitate to
      contact us. Safe travels!
    </p>
  </div>
</ion-content>
