// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #437c90;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #a0c6cf;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #375664;
  --ion-color-primary-tint: #659db2;

  /** secondary **/
  --ion-color-secondary: #a35f34;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #dfae86;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #824625;
  --ion-color-secondary-tint: #b77f52;

  /** tertiary **/
  --ion-color-tertiary: #546437;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #a4a686;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #434f2b;
  --ion-color-tertiary-tint: #6a7752;

  /** success **/
  --ion-color-success: #5a8f29;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #a0d678;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #467323;
  --ion-color-success-tint: #6fb348;

  /** warning **/
  --ion-color-warning: #bfa82e;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #fff385;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #957823;
  --ion-color-warning-tint: #d6c255;

  /** danger **/
  --ion-color-danger: #a81515;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ff5555;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #850f0f;
  --ion-color-danger-tint: #c43636;

  /** dark **/
  --ion-color-dark: #0f1719;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #818c92;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #c6d1d6;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --ion-font-family: "Roboto", sans-serif;
}
